<div class="user_detail">  
    <div clss="filterbytag">
        <form  action="/image_filter" method="get">
            <label for=""></label>
            <div id="filterform" >
                <input type="text" name="keyword" placeholder="search your image by tags">
                <button>search</button>
            </div>
        </form>
    </div>   
    <div class="user_history">
        <% @images_by_user.each do |image| %>
            <div class="tile">
                <div>
                    <img class="searched_image" src="<%= image["image_url"] %>" alt="">
                </div>
                <div class="caption">
                    <p><%= image["id"] %></p>
                    <p><%= image["caption"] %></p>
                </div>
                <div class="metadata">
                    <% image["tags"].sub!("{","").sub!("}","").split(",").each do |tag| %>
                        <p id="tag"> <%= tag %> </p>    
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>

