<form action="/user_signup" method="post">
    <p>
        <label for="email"></label>
        <input type="text" name="email" placeholder="email address">
    </p>
    <p>
        <label for="password"></label>
        <input type="password" name="password" placeholder="password">
    </p>
    <p>
        <button>signup</button>
    </p>
</form>
