<header>
  <h1 class=title>Pantry Master </h1>
  <p class=line>Get on top of your recipes and shopping list</p>
  <form action="/search" method="get">
    <label for=""></label>
    <input type="text" name="keyword" placeholder="What do you feel like" >
    <button>search</button>
  </form>
    <a href="/user_login"><button>login</button></a>
    <a href="/user_signup"><button>signup</button></a>
</header>