<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pantry Master</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<%= yield %>

  <footer>
    <div>
      <p>made by sun</p>
    </div>
  </footer>
</body>
</html>
