<form action="/user_login" method="post">
    <p>
        <label for="email">Email</label>
        <input class="email_input" name="email" type="text" placeholder="email address">
    </p>
    <p>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="password">
    </p>
    <p>
        <button>login</button>
    </p>
</form>
<a href="/user_signup"><button>signup</button></a>
