<form action="/login" method="post">
    <p>
        <label for="email">Email</label>
        <input class="email_input" type="text" placeholder="email address">
    </p>
    <p>
        <label for="password">Password</label>
        <input type="password" placeholder="password">
    </p>
    <p>
        <button>login</button>
    </p>
</form>
<a href="/signup"><button>signup</button></a>



